node_modules/
backend/node_modules/
frontend/node_modules/

.env
backend/.env
frontend/.env
frontend/.env.production
frontend/.env.local
frontend/.env.*.local

frontend/dist/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/captures/
frontend/android/app/build/
frontend/android/keystore.properties
frontend/android/*.jks
frontend/android/*.keystore

Musicfy-share.apk
Musicfy-share.zip

*.log
*.tmp
*.cache
.DS_Store
